/* 배경 전체 */
.login-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffedf3;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 로고 */
.login-logo-img {
    position: relative;
    top: 55px;
    width: 240px;
    margin: 0 auto 1.5rem;
    display: block;
    cursor: pointer;
}

/* 로그인 전체 박스 */
.login-box {
    width: 400px;
    padding: 70px 40px;
    background-color: #f48ca2;
    border-radius: 40px;
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* 입력창 묶음 */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 2.5rem;
    width: 96%;
}

/* 각 input */
.login-input {
    padding: 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* 구글 로그인 버튼 */
.google-login-button {
    width: 190px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-bottom: 16px;
}

.google-icon {
    width: 22px;
    height: 22px;
}

/* 회원가입 텍스트 */
.link-text {
    font-size: 1rem;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

/* 로그인 버튼 */
.login-button {
    margin-top: 2.5rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f48ca2;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.login-button:hover {
    transform: scale(1.05);
}