fastapi==0.99.1
pydantic==1.10.13
uvicorn==0.29.0
gunicorn==22.0.0
pymongo[srv]
langchain==0.2.1
langchain-core==0.2.2
langchain-openai==0.1.7
langchain-pinecone 
python-dotenv
python-jose[cryptography]
pinecone-client==3.2.2
pandas
numpy
tiktoken
pypdf
docx2txt